.search-container {
  display: flex;
  margin-bottom: 20px;
  height: 110px;
  padding: 20px;
  align-items: center;
}

.search-container input {
  flex: 6;
  margin-right: 20px;
}

.search-container button {
  flex: 1;
}

.container {
  padding: 30px 0 0;
}

.error {
  padding: 20px;
  text-align: center;
  color: orange;
}
