.additionally-wrapper {
  margin: 0 30px;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;

  .additionally-items {
    min-width: 80px;

    .additionally-mark {
      font-size: 20px;
    }

    .additionally-key {
      margin-top: 5px;
      font-weight: bold;
    }
  }
}

.top {
  border-bottom: 3px #c4c4c4 solid;
}

@media (max-width: 767px) {
  .additionally-wrapper {
    margin: 0 10px;

    .additionally-items {
      .additionally-mark {
        font-size: 14px;
      }

      .additionally-key {
        font-size: 12px;
      }
    }
  }
}
