.hour-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 0 20px;
  margin: 10px 20px;
  border-radius: 10px;
  align-items: center;
  background-size: cover;
  background-position: 25% 75%;

  img {
    width: 60px;
    flex: 1;
  }

  .main {
    flex: 2;
  }

  .temperature-dashboard {
    flex: 1;
  }

  .date {
    flex: 3;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .hour-wrapper {
    margin: 10px;
    padding: 0 10px;

    img {
      width: 50px;
      border-radius: 5px;
    }
  }
}
