.location-container {
  width: 60%;
  margin: auto;
  border-radius: 10px;
  height: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-repeat: round;

  .location {
    font-size: 35px;
    cursor: pointer;
  }

  .temperature {
    font-size: 40px;
  }

  .weather {
    font-size: 20px;
    color: #1f1a4a;
    font-weight: 600;
  }
}

.current-date {
  margin: 20px 20px 0;
  font-size: 18px;
}

@media (max-width: 767px) {
  .location-container{
    width: 80%;
    height: 150px;

    .location {
      font-size: 20px;
      margin: 0 10px;
      overflow: hidden;

      .temperature {
        font-size: 36px;
      }

      .weather {
        font-size: 16px;
      }
    }
  }

  .current-date {
    font-size: 14px;
    margin-left: 30px;
  }

  button {
    min-width: 36px !important;
    min-height: 36px !important;
    top: 60px;
  }
}
