.location-container {
  width: 60%;
  margin: auto;
  border-radius: 10px;
  height: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-repeat: round;

  .location {
    font-size: 35px;
    cursor: pointer;
  }

  .temperature {
    font-size: 40px;
  }

  .weather {
    font-size: 20px;
    color: #1f1a4a;
    font-weight: 600;
  }
}

.current-date {
  margin: 20px 20px 0;
  font-size: 18px;
}
