.forecast-container {
  display: flex;
  text-align: center;
  height: 250px;
  align-items: center;
  margin-top: 20px;
  border-radius: 4px;

  .hour-item-wrapper {
    flex: 1;
  }
}

.button-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 15px;
}
