.chart {
  position: relative;

  .aqi-value {
    font-size: 20px;
    border-radius: 50%;
    background-color: #21cae0;
    align-items: center;
    height: 55px;
    width: 55px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
