.forecast-item {
  height: 180px;
  margin: 30px;
  border-radius: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.item-temperature {
  font-size: 30px;
}

.weather-logo img {
  height: 50px;
}
