@font-face {
  font-family: Gotham-Book;
  src: url(fonts/gotam-black.otf);
}

html, body {
  font-family: Gotham-Book, sans-serif !important;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0 10px;
  margin: auto;
  height: 4rem;
  align-items: center;
}

main {
  padding-top: 30px;
}
