@font-face {
  font-family: Gotham-Book;
  src: url(fonts/gotam-black.otf);
}

html, body {
  font-family: Gotham-Book, sans-serif !important;
  min-height: 100vh;

  .app-container {
    padding: 30px 50px;
    max-width: 700px;
    margin: auto;

    @media (max-width: 767px) {
      padding: 20px;
    }

    header {
      display: flex;
      justify-content: space-between;
      padding: 0 20px 0 10px;
      margin: auto;
      height: 4rem;
      align-items: center;

      @media (max-width: 767px) {
        h1 {
          font-size: 20px;
        }
      }
    }

    main {
      padding-top: 30px;
    }

    .unit {
      padding: 16px;
      border: 0;
      outline: 0;
      background-color: var(--color-bg);
      box-shadow: -5px -5px 20px var(--color-bg), 5px 5px 20px var(--color-shadow);
      transition: all 0.2s ease-in-out;
      color: #61677C;
      border-radius: 8px;
      line-height: 0;
      width: 48px;
      height: 48px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin: 0 8px;
      font-size: 19px;
      cursor: pointer;

      &:hover {
        box-shadow: -2px -2px 5px var(--color-bg), 2px 2px 5px var(--color-shadow);
      }

      i {
        background: url('https://api.iconify.design/ion-md-arrow-back.svg') no-repeat center center / contain;
        width: 100%;
        height: 100%;
      }

      @media (max-width: 767px) {
        padding: 12px;
        width: 38px;
        height: 38px;
      }
    }

    h1 {
      color: #BABECC !important;
      font-weight: bold !important;
    }
  }
}
